<mat-card class="card">
  <mat-card-header>
    <mat-card-title>DOCX: Word Doc Templater</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button (click)="openModal()">Open Modal</button>
    <br />
    <button (click)="addSub()">+</button>
    <button (click)="removeSub()">-</button>
    <button (click)="logSubs()">log subs</button>
    <!--(click)="addSubstitution()"-->
    <div>
      <div *ngFor="let int of substitutions">
        <app-substitution></app-substitution>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Preview</button>
    <button mat-button>Submit</button>
  </mat-card-actions>
</mat-card>
