<mat-card class="card">
  <mat-card-header color="primary">
    <mat-card-title>DOCXtra: Word Doc Templater</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="dark-theme" [formGroup]="fullForm" (ngSubmit)="submitForm()">
      <br />
      <mat-form-field style="width: 100%;">
        <mat-label class="dark-theme">Input File Path</mat-label> <!-- TODO select from local file storage -->
        <input matInput formControlName="source" />
      </mat-form-field>
      <br />
      <mat-form-field style="width: 100%;">
        <mat-label class="dark-theme">Output File Path</mat-label>
        <input matInput formControlName="destination" />
      </mat-form-field>
      <br />
      <div formArrayName="substitutions">
        <div
          *ngFor="
            let form of fullForm.get('substitutions')['controls'];
            let $index = index
          "
        >
          <div [formGroupName]="$index">
            <mat-form-field>
              <mat-label class="dark-theme">Token</mat-label>
              <input
                matInput
                formControlName="token"
                placeholder="Ex. first_name"
              />
            </mat-form-field>

            <mat-form-field>
              <mat-label class="dark-theme">Replacement</mat-label>
              <input matInput formControlName="value" placeholder="Ex. John" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <button
        type="button"
        (click)="removeSubstitutionRow(1)"
        mat-mini-fab
        color="primary"
        class="modSubButton"
      >
        -
      </button>

      <button
        type="button"
        (click)="addSubstitutionRow()"
        mat-mini-fab
        color="primary"
        class="modSubButton"
      >
        +
      </button>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        style="float: right"
      >
        Create Document
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>


